body {
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
}
.navStuff {
  margin-bottom: 30px;
}
.tags {
  display: none;
}
.bg1 {
  background-image: url(./images/bg2.png);
  position: relative;
  opacity: 0.95;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 70px;
  padding-top: 25px;
  min-height: 500px;
}
.bg3 {
  background-image: url(./images/bg2.png);
  position: relative;
  opacity: 0.95;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 70px;
  padding-top: 25px;
  min-height: 300px;
}
.pbg1, .pbg2, .pbg3, .pbg4 {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 75%;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-bottom: 75px;
}
.pbg1 {
  background-image: url(./images/bg2.png);
  background-color: gray;
  background-blend-mode: difference;
  min-height: 350px;
  box-shadow: 10px 10px 5px black;
}
.pbg2 {
  background-image: url(./images/bg2.png);
  background-color: blue;
  background-blend-mode: difference;
  min-height: 350px;
  box-shadow: 10px 10px 5px black;
}
.pbg3 {
  background-image: url(./images/bg2.png);
  background-color: green;
  background-blend-mode: difference;
  min-height: 350px;
  box-shadow: 10px 10px 5px black;
}
.pbg4 {
  background-image: url(./images/bg2.png);
  background-color: #a442f4;
  background-blend-mode: difference;
  min-height: 350px;
  box-shadow: 10px 10px 5px black;
}

.boxstuffbox {
  border-radius: 25px;
  position: relative;
  margin: 0 auto;
  background-color: black;
  background: rgba(0, 0, 0, 0.6);
  max-width: 65%;
  padding: 10px;
  overflow: auto;
  z-index: 1;
}
.bardude {
  background-color: black;
  position: relative;
  width: 70%;
  height: 75px;
  margin: 0 auto;
  opacity: 0.0;
}
.mainText {
  max-width: 75%;
  margin: 0 auto;
  z-index: 1;
  top: -90%;
}
.searchI {
  float:right;
  margin-top: -65px;
  font-size: 25px;
}
.aboutI {
  float:left;
  margin-top: -65px;
  font-size: 25px;
  position: absolute;
  right: 89px;
}
.contactI {
  float: right;
  margin-top: -65px;
  font-size: 25px;
  position: relative;
  right: 35px;
}
.projectsI {
  float:left;
  margin-top: -64px;
  font-size: 25px;
  position: absolute;
  right: 108px;
}
.pSearchForm {
  float: right;
  right: -10px;
  margin-top: -34px;
  position: relative;
}
.pName {
  margin: 0 auto;
  text-align: center;
  font-size: 3vw;
  color: white;
  max-width: 35%;
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 5px;
}
#name {
  font-size: 50px;
  color: white;
}
#userIcon {
  margin-top: -57px;
  font-size: 45px;
  color: gray;
}

#gitIcon {
  margin-top: -57px;
  font-size: 45px;
  color: gray;
}

#fewd {
  font-size: 50px;
  color: white;
}

#downArrow {
  font-size: 45px;
  color: white;
}
#namePlate {
  margin: 0 auto;
  text-align: center;
  max-width: 35%;
  font-size: 3vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
#scPlate {
  margin: 0 auto;
  text-align: center;
  max-width: 30%;
  font-size: 2vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
.skillObj {
  font-size: 1.5vw;
  text-align: center;
  min-width: 25%;
}
#skills {
  margin: 0 auto;
  max-width: 40%;
}
#aboutMe{
  margin: 0 auto;
  text-align: justify;
  font-size: 1.5vw;
  max-width: 45%;
}
.links{
  float: right;
}
.desc {
  position: relative;
  font-size: 20px;
  max-width: 300px;
  bottom: 0;
  color: white;
}

.desc2 {
  font-size: 15px;
  float: left;
  color: white;
}
.button {
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
    background-color: gray;
    color: white;
}

.btn-group button {
    background-color: #37648b;
    border: 1px solid #37648b;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none;
}


.btn-group button:hover {
    background-color: #12324e;
}

.icons {
  cursor: pointer;
}
.i2 {
  font-size: 30px;
  margin: 5px;
}
#upI {
  color: white;
}
a .fa{
  color: gray;
}

/*@media only screen and (max-width: 420px), only screen and (max-device-width: 420px) {
  .pImg {
    max-width: 100%;
  }
  .button {
    padding: 11px 13px;
  }
  .desc{
    float: left;
  }
}

@media only screen and (max-height: 700px), only screen and (max-device-height: 700px) {
  .desc2 {
    font-size: 15px;
  }
}*/
