<div id="about">
  <div class="row">-</div>
  <div class="row">
    <div class="col-sm-8">
    <div class="container-fluid">
    <div class="jumbotron">
      <h1>Hmm..</h1>
      <p>resume currently in progress, quick facts below.</p>
    </div>
  </div>
  </div>
  </div>
  <div class="row">
    <div class="container-fluid">
      <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading"><p>Experience with:</p></div>
      <ul class="list-group">
        <li class="list-group-item">HTML</li>
        <li class="list-group-item">CSS</li>
        <li class="list-group-item">JavaScript</li>
        <li class="list-group-item">Bootstrap</li>
        <li class="list-group-item">jQuery</li>
        <li class="list-group-item">AngularJS</li>
      </ul>
    </div>
  </div>
  </div>
  </div>
  <div class="row">-</div>
</div>
