<div id="about">
  <div class="row">-</div>
  <div class="row">
    <div class="col-sm-12">
    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-body">
      <div class="media">
        <div class="media-left">
          <img src="images/meandbro.jpg" class="media-object" style="width:60px">
        </div>
        <div class="media-body">
          <h2 class="media-heading">Ramiz Ali</h2>
          <p>Front-End Web Developer</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  <div class="row">
    <div class="container-fluid">
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">Contact:</div>
          <div class="panel-body">e-mail: zimarali@gmail.com</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Skills:</div>
          <ul class="list-group">
            <li class="list-group-item">HTML</li>
            <li class="list-group-item">CSS</li>
            <li class="list-group-item">JavaScript</li>
            <li class="list-group-item">Bootstrap</li>
            <li class="list-group-item">jQuery</li>
            <li class="list-group-item">AngularJS</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="panel panel-default">
          <div class="panel-heading">Experience: (Click job title for more info)</div>
          <div class="panel-body">
            <h4>Interval International</h4>
            <ul><li ng-click="showInt=true">Sales Representative</li></ul>
            <ul ng-show="showInt" class="overv">
              <li>Service calls and Sale calls.</li>
              <li>Renew memberships for members.</li>
              <li>Provide members with information.</li>
            </ul>
            <h4>Genji Japanese Steakhouse</h4>
            <ul><li ng-click="showGen=true">Expo</li></ul>
            <ul ng-show="showGen" class="overv">
              <li>Maintain cleanliness of  restuarant.</li>
              <li>Cook and create appetizers.</li>
              <li>Provide assistance to serve staff.</li>
            </ul>
            <h4>Michigan Eye Clinic</h4>
            <ul><li ng-click="showEye=true">Optometric Technician</li></ul>
            <ul ng-show="showEye" class="overv">
              <li>Test vision of patients.</li>
              <li>Chart various forms of information.</li>
              <li>Fit patients with glasses.</li>
            </ul>
            <h4>Target</h4>
            <ul><li ng-click="showTar=true">Presentation Team Member</li></ul>
            <ul ng-show="showTar" class="overv">
              <li>Set store presentation plans: Aisles and Endcaps.</li>
              <li>Provide guests with customer service.</li>
              <li>Maintain product inventory.</li>
            </ul>
          </div>
      </div>
      </div>
  </div>
  </div>
  </div>
  <div class="row">-</div>
</div>
