<a href="#/"><i class="projectsI fa fa-folder-o"></i></a>
<a href="#/about"><i class="aboutI fa fa-info"></i></a>
<a href="#/contact"><i class="contactI fa fa-envelope-o"></i></a>
<i class="searchI glyphicon glyphicon-search"></i>

<div>
  <div id="namePlate">Ramiz Ali</div>
  <div id="aboutMe">
    <p>Front-End Web Developer with a growing experience of the in's and out's of HTML/CSS. Always diving in to solve a problem in JavaScript and its variety of frameworks. Image editing and creation always being an interest lead to great experience with Adobe Photoshop.</p>
  </div>
  <div id="scPlate">Skills:</div>
  <div id="skills">
    <div class="skillObj">
      <i class="fa fa-html5"></i>
      HTML
    </div>
    <div class="skillObj">
      <i class="fa fa-css3"></i>
      CSS
    </div>
    <div class="skillObj">
      <i class="ionicons ion-social-javascript"></i>
      JavaScript
    </div>
    <div class="skillObj">
      <i class="fa fa-ellipsis-h"></i>
      jQuery
    </div>
    <div class="skillObj">
      <i class="fa fa-git"></i>
      Git
    </div>
    <div class="skillObj">
      <i class="fa fa-ellipsis-h"></i>
    Bootstrap
    </div>
    <div class="skillObj">
      <i class="ionicons ion-social-angular"></i>
    AngularJS
    </div>
    <div class="skillObj">
      <i class="fa fa-ellipsis-h"></i>
    Adobe Photoshop
    </div>
  </div>
</div>
