<a href="#/"><i class="projectsI fa fa-folder-o"></i></a>
<a href="#/about"><i class="aboutI fa fa-info"></i></a>
<a href="#/contact"><i class="contactI fa fa-envelope-o"></i></a>
<i class="searchI glyphicon glyphicon-search"></i>

<div id="contact">
  <div class="row"></div>
  <div class="row">
    <div class="container-fluid">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="jumbotron">
          <h2>Contact Me!</h2>
          <p>Leave your e-mail and message, I'll get back to you ASAP.</p>
        </div>
        <div class="form-group">

        <form method="POST" action="http://formspree.io/zimarali@gmail.com">
          <div class="form-group">
            <label class="formtext" for="email">E-mail:</label>
            <input class="form-control" type="email" name="email" placeholder="Your email">
          </div>
          <div class="form-group">
            <label class="formtext" for="message">Message:</label>
            <textarea class="form-control" name="message" placeholder="Your message"></textarea>
          </div>
          <button class="btn btn-default" type="submit">Send</button>
        </form>

        </div>
      </div>
    <div class="col-sm-2"></div>
  </div>
</div>
