<div class="row">
  <div class="col-sm-4">
    <div class="img">
      <a target="_blank" href="images/lionslogo.png">
        <img src="images/lionslogo.png" alt="lionslogo" width="125" height="125">
      </a>
      <div class="desc">Go Lions!</div>
    </div>
  </div>

    <div class="col-sm-4">
      <div class="img">
        <a target="_blank" href="images/lionslogo.png">
          <img src="images/lionslogo.png" alt="lionslogo" width="125" height="125">
        </a>
        <div class="desc">Go Lions!</div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="img">
        <a target="_blank" href="images/lionslogo.png">
          <img src="images/lionslogo.png" alt="lionslogo" width="125" height="125">
        </a>
        <div class="desc">Go Lions!</div>
      </div>
    </div>
