<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-body">
            <img align="left" class="pImg" src="images/discGo.png">
          <span class="left desc2">
            HTML5
            <br>
            CSS
            <br>
            JavaScript
            <br>
            AngularJS
            <br>
            Bootstrap
            <br>
            Last.FM API
          </span>
          <span class="right">
            <a href="https://github.com/zimarali/discGo" target="_blank" class="button">Github</a>
            <a href="https://zimarali.github.io/discgoPages" target="_blank" class="button">Demo</a>
          </span>
          <br>
          <p class="desc">discGo is a application created for quick information on a music artist. It was developed using HTML, CSS, JavaScript, AngularJS, Bootstrap, and the Last.fm api. The page contains a search box used to retrieve info about a Music Artist once a name is entered into the search box. Upon submitting the form the information submitted is transfed to the information page. Once this information is transfered, the page retrieves information based on the entered artist name using the Last.fm api. To use the page click the demo button and check it out.</p>
        </div>
      </div>
    </div>
</div>
  <div class="col-sm-2"></div>
</div>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body">
        <img align="left" class="pImg" src="images/SeatRes.png">
        <span class="left desc2">
          HTML5
          <br>
          CSS
          <br>
          JavaScript
          <br>
          Bootstrap
        </span>
        <span class="right">
          <a href="https://github.com/zimarali/SeatRes" target="_blank" class="button">Github</a>
          <a href="https://zimarali.github.io/SeatRes/" target="_blank" class="button">Demo</a>
        </span>
        <br>
        <p class="desc">Theater Arck is a demo seat reservation application. It was developed using HTML, CSS, JavaScript, and Bootstrap. Seats a are aligned on the page to imitate a theater layout. Once a user clicks on a seat, a form will show up. Upon submitted the form the reservation is confirmed. Multiple seats can be reserved under the same information. To use the page click the demo button and explore.</p>
      </div>
    </div>
  </div>
</div>
  <div class="col-sm-2"></div>
</div>
