<div class="pbg0 wow slideInLeft" data-wow-duration="1.5s">
  <div class="pName">createLog</div>
  <div class="boxstuffbox">
    <img align="left" class="pImg img-responsive" src="images/createLog.png">
    <div class="desc2">
      using:
      <br>
      HTML5/CSS
      <br>
      JavaScript
      <br>
      AngularJS
      <br>
      MaterializeCSS
    </div>
    <div class="links">
      <a href="https://github.com/zimarali/createLogDemo" target="_blank" class="button">Github</a>
      <a href="https://zimarali.github.io/createLogDemo/" target="_blank" class="button">Demo</a>
    </div>
  </div>
</div>

<div class="pbg1 wow slideInLeft" data-wow-duration="1.5s">
  <div class="pName">DiscGo</div>
  <div class="boxstuffbox">
    <img align="left" class="pImg img-responsive" src="images/discGo.png">
    <div class="desc2">
      using:
      <br>
      HTML5/CSS
      <br>
      JavaScript
      <br>
      AngularJS
      <br>
      Bootstrap
      <br>
      Last.FM API
    </div>
    <div class="links">
      <a href="https://github.com/zimarali/discGo" target="_blank" class="button">Github</a>
      <a href="https://zimarali.github.io/discgoPages" target="_blank" class="button">Demo</a>
    </div>
  </div>
</div>

<div class="pbg2 wow slideInRight" data-wow-duration="1.5s">
  <div class="pName">Theater Arck</div>
  <div class="boxstuffbox">
    <img align="left" class="pImg img-responsive" src="images/SeatRes.png">
    <div class="desc2">
      using:
      <br>
      HTML5/CSS
      <br>
      JavaScript
      <br>
      Bootstrap
    </div>
    <div class="links">
      <a href="https://github.com/zimarali/SeatRes" target="_blank" class="button">Github</a>
      <a href="https://zimarali.github.io/SeatRes/" target="_blank" class="button">Demo</a>
    </div>
  </div>
</div>

<div class="pbg3 wow slideInLeft" data-wow-duration="1.5s">
  <div class="pName">Gallery Demo</div>
  <div class="boxstuffbox">
    <img align="left" class="pImg img-responsive" src="images/TMSchantz.png">
    <div class="desc2">
      using:
      <br>
      HTML5/CSS
      <br>
      JavaScript
      <br>
      JQuery
      <br>
      Bootstrap
    </div>
    <div class="links">
      <a href="https://github.com/zimarali/TMSchantz" target="_blank" class="button">Github</a>
      <a href="https://zimarali.github.io/TMSchantz/" target="_blank" class="button">Demo</a>
    </div>
  </div>
</div>

<div class="pTags wow slideInRight" data-wow-duration="1.5s"><p class="tags">HTML5 CSS Parallax</p>
  <div class="pbg4 wow slideInRight" data-wow-duration="1.5s">
    <div class="pName">Parallax Demo</div>
    <div class="boxstuffbox">
      <img align="left" class="pImg img-responsive" src="images/parallax.png">
      <div class="desc2">
        using:
        <br>
        HTML5/CSS
      </div>
      <div class="links">
        <a href="https://github.com/zimarali/parallax-demo" target="_blank" class="button">Github</a>
        <a href="https://zimarali.github.io/parallax-demo/" target="_blank" class="button">Demo</a>
      </div>
    </div>
  </div>
</div>
