<div id="projects">
  <div class="row">-</div>
  <div class="row">
  <div class="container">
    <div class="col-sm-6">
        <div class="text-center"><a href="https://zimarali.github.io/discgoPages/"><img id="logo" class="img-responsive" src="images/DISCGOlogo.png" alt="discGo"></a></div>
        <a href="https://zimarali.github.io/discgoPages/"><img class="img-responsive img-rounded" src="images/discGo.png" alt="discGo"></a>
    </div>
    <div class="col-sm-6">
        <div class="text-center"><a href="https://github.com/zimarali/SeatRes"><img id="logo2" class="img-responsive" src="images/seatreslogo.png" alt="SeatRes"></div></a>
        <a href="https://github.com/zimarali/SeatRes"><img class="img-responsive img-rounded" src="images/SeatRes.png" alt="SeatRes"></a>
      </div>
    </div>
  </div>
</div>
